@page "/forgotPassword"
@using System.Collections.Generic;
@using System.Net.Mail;
@using System.IO;
@using System.Linq;
@using System.Reflection;

@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<style>
    .demo-card-wide.mdl-card {
        width: 400px;
        height: 500px;
        margin-left: 35%;
        margin-top: 160px;
        background-color: #fff;
        color: black;
        border: 1px solid;
    }

    body {
        background: white;
    }

    .mdl-button--colored {
        margin-left: 10px;
        width: 90%;
    }

    .mdl-textfield{
        padding-left: 10px;
        width: 90%;
    }

    a {
        color: blue;
        text-decoration: none;
    }

    .forgotPassword {
        display: flex;
        justify-content: center;
        padding-top: 50px;
        font-weight: bold;
        font-size: 30px;
    }
    .goBack {
        display: flex;
        justify-content: center;
        padding-top: 30px;
        font-size: 16px;
    }
</style>

<body>
    <div class="demo-card-wide mdl-card">

        <div class="forgotPassword"> Forgot password </div>
        <br />
        <div class="goBack"> You want to go back? &nbsp; <a href="/login"> Sign in</a> </div>

        <form @onsubmit="@validateForm">
            <div class="mdl-textfield mdl-js-textfield">
                <input required class="mdl-textfield__input" type="email" placeholder="E-Mail ..." id="email" @bind=@Email>
            </div>
            <br>
            @if(string.IsNullOrEmpty(newPassword)){
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                    Get New Password
                </button>
            }
            @if (!string.IsNullOrEmpty(newPassword)){
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" disabled>
                    Get New Password
                </button>
            }
            <br /> <br />
        </form> 
        <h5 style="background:@colorFehlermeldung;font-size:15px;height:100px;"> @Fehlermeldung </h5>
       
        @if (!string.IsNullOrEmpty(newPassword) && colorFehlermeldung == "white")
        {
            <h6> Dein neues Password ist: <b>@newPassword</b>  </h6>
            <a href="/loginNewPassword"> Mit neuem Passwort einloggen</a>
        }
    </div>
</body>