@page "/cars/BMW"

<body>
    <h2> Modelle </h2>

    <h3>
        1er
        <div class="wrapper">
            <div class="card"><OneCar IndexArray="0" /></div>
            <div class="card"> <OneCar IndexArray="1" /></div>
            <div class="card"> <OneCar IndexArray="2" /></div>
            <div class="card"> <OneCar IndexArray="3" /></div>
        </div>
    </h3>
    <hr />
    <h3> 2er
        <div class="wrapper">
            <div class="card"><OneCar IndexArray="0" /></div>
            <div class="card"> <OneCar IndexArray="1" /></div>
            <div class="card"> <OneCar IndexArray="2" /></div>
            <div class="card"> <OneCar IndexArray="3" /></div>
        </div>     
    </h3>
    <hr />
    <h3> 3er
        <div class="wrapper">
            <div class="card"><OneCar IndexArray="0" /></div>
            <div class="card"> <OneCar IndexArray="1" /></div>
            <div class="card"> <OneCar IndexArray="2" /></div>
            <div class="card"> <OneCar IndexArray="3" /></div>
        </div>
    </h3>
    <hr />
    <h3> 4er 
        <div class="wrapper">
            <div class="card"><OneCar IndexArray="0" /></div>
            <div class="card"> <OneCar IndexArray="1" /></div>
            <div class="card"> <OneCar IndexArray="2" /></div>
            <div class="card"> <OneCar IndexArray="3" /></div>
        </div>
    </h3>
    <hr />
    <h3> 5er 
        <div class="wrapper">
            <div class="card"><OneCar IndexArray="0" /></div>
            <div class="card"> <OneCar IndexArray="1" /></div>
            <div class="card"> <OneCar IndexArray="2" /></div>
            <div class="card"> <OneCar IndexArray="3" /></div>
        </div>
    </h3>
    <hr />
    <h3> 6er 
        <div class="wrapper">
            <div class="card"><OneCar IndexArray="0" /></div>
            <div class="card"> <OneCar IndexArray="1" /></div>
            <div class="card"> <OneCar IndexArray="2" /></div>
            <div class="card"> <OneCar IndexArray="3" /></div>
        </div>
    </h3>
    <hr />
    <h3> 7er 
        <div class="wrapper">
            <div class="card"><OneCar IndexArray="0" /></div>
            <div class="card"> <OneCar IndexArray="1" /></div>
            <div class="card"> <OneCar IndexArray="2" /></div>
            <div class="card"> <OneCar IndexArray="3" /></div>
        </div>
    </h3>
    <hr />
    <h3> 8er 
        <div class="wrapper">
            <div class="card"><OneCar IndexArray="0" /></div>
            <div class="card"> <OneCar IndexArray="1" /></div>
            <div class="card"> <OneCar IndexArray="2" /></div>
            <div class="card"> <OneCar IndexArray="3" /></div>
        </div>
    </h3>
    <hr />
</body>

<style>
    body{
        padding-left: 100px;
    }

    .flex, .wrapper {
        display: flex;
        justify-content:flex-start;
        position: relative;
        top: 15px;
    }
</style>